
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/User/Login" method="post">
    Username:<input type="text" name="Name" class="form-control"/>
    <br />
    Password:<input type="password" name="Password" class="form-control" />
    <br />
    <input type="submit" value="Login" class="btn btn-success"/>
</form>