
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>

<form action="" method="post">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>@ViewBag.Name</th>
        </tr>
        <tr>
            <th>Father Name</th>
            <th>@ViewBag.FatherName</th>
        </tr>
        <tr>
            <th>Mother Name</th>
            <th>@ViewBag.MotherName</th>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <th>@ViewBag.Dob</th>
        </tr>
    </table>
</form>
